.notFoundContainer{
    background-image: url("https://images.unsplash.com/photo-1555861496-0666c8981751?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;  
    .errorWrapper{
        width: 400px;
        justify-items: center;
    }
    svg{
        width: 100px;
        height: 100px;
        margin-top: 100px ;
    }
    form{
        padding: 20px;
        background-color: white;
        border-radius: 20px;
        width: 350px;    
        margin-top: 20px ;
        .btn-primary{
            margin-top: 20px;
        }
        label{
            margin-bottom: 5px;
        }
    }
}




