.btn-group {
    button {
        // border-radius: 6px !important;
        background-color: #f6f8fa;
        color: rgb(82, 82, 82);
        border-color: #d1d0d0;
        font-size: 13px;
        font-weight: 400;
        padding: 2px 15px;

    }

    button:hover {
        background-color: #f2efef;
        color: rgb(82, 82, 82);
        border-color: #d1d0d0;


    }
}
.Public{
    font-size: 12px;
    border-radius: 40px;
    font-weight: 500;
}
.language{
    font-size: 14px;
}
.repo-language-color {
    // position: relative;
    // top: 1px;
    // display: inline-block;
    // width: 12px;
    // height: 12px;
    // border: 1px solid var(--color-primer-border-contrast);
    // border-radius: 50%;
    // background-color: #3178c6;
    // margin-right: 5px;
}
.title{
    text-decoration: none;
}
.title:hover{
    text-decoration: underline;
}