.avatar{
    border-radius: 100%;
    width: 27vw;
    max-width: 370px;
    margin-top: -20px;
}
.LeftSIdeWrapper{
    z-index: 2;
    
}
.Edit{
    width: 100%;
    height: 36px;
    font-size: 19px;
    font-weight: 500;
    color: black;
    
}