.avatar {
    border-radius: 100%;
    width: 300px;
    margin-top: -38px;
}

.LeftSIdeWrapper {
    z-index: 2;
    padding-right: 30px;
    button {
        // border-radius: 6px !important;
        background-color: #f6f8fa;
        color: rgb(82, 82, 82);
        border-color: #d1d0d0;
        font-size: 14px;
        font-weight: 500;
        padding: 2px 15px;

    }

    button:hover {
        background-color: #f2efef;
        color: rgb(82, 82, 82);
        border-color: #d1d0d0;


    }
}

.Edit {
    width: 100%;
    height: 36px;
    font-size: 19px;
    font-weight: 500;
    color: black;
    border-radius: 6px !important;

}

.rightSide {
    width: 1012px;
}

.form-row {
    display: flex;
    // -ms-flex-wrap: wrap;
    // flex-wrap: wrap;

    .form-group{
        width: 100%;
    }
    .form-control {
        padding: 6px 5px;
        font-size: 13px;

    }
}

.btn-groupp {
    padding: 0 2px;
    display: flex;

    .btn1 {
        margin-left: 25px;
    }

    button {
        border-radius: 6px !important;
        background-color: #f6f8fa;
        color: rgb(82, 82, 82);
        border-color: #d1d0d0;
        font-size: 14px;
        font-weight: 500;
        padding: 2px 15px;

    }

    button:hover {
        background-color: #f2efef;
        color: rgb(82, 82, 82);
        border-color: #d1d0d0;


    }
}
.Pro{
    font-size: 11px;
    border-radius: 40px;
    font-weight: 500;
    border-color: rgb(37, 42, 138) !important;
    padding: 1px 8px;
}