//  svg{
//     width: 20px;
//     height: 20px;
//     margin-top: 0px ;
// } 
// li{
//     display: flex;
//     align-items: center;
// }
.active{
    font-weight: 700;
    border-bottom: 2px solid #ff9494;
    margin-bottom: -9px;
    padding-bottom: 6px;
}